.calander .container {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.1rem;
  color: #000000;
}
.calander .day-31 {
  margin-right: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-1 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.1rem;
  color: #000000;
}
.calander .day-32 {
  margin-right: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-2 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.1rem;
  color: #000000;
}
.calander .day-33 {
  margin-right: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-3 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.1rem;
  color: #000000;
}
.calander .day-34 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.calander .container-4 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.1rem;
  color: #000000;
}
.calander .day-35 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-5 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.1rem;
  color: #000000;
}
.calander .day-36 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-6 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.1rem;
  color: #000000;
}
.calander .day-37 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container {
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.calander .container-18 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-11 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-19 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-20 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-13 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-21 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-14 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-22 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-15 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-23 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-16 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-24 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-17 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-3 {
  margin: 0 0.5rem 1.3rem 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 1.2rem);
  box-sizing: border-box;
}
.calander .container-25 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-18 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-29 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-22 {
  margin-right: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-30 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-23 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-31 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-24 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-32 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-25 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-33 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-26 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-34 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-27 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-7 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.calander .container-6 {
  margin: 0 0.1rem 1.3rem 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0.8rem);
  box-sizing: border-box;
}
.calander .container-26 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-19 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-35 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-28 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-36 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-29 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-37 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-30 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-7 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-8 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-1 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-9 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-2 {
  margin: 0 0.1rem 1.3rem 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0.3rem);
  box-sizing: border-box;
}
.calander .container-27 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-20 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-10 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-3 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-11 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-4 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-12 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-5 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-13 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-6 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-14 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-7 {
  margin-right: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-15 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-8 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 1.8rem;
  box-sizing: border-box;
}
.calander .container-5 {
  margin: 0 0.1rem 1.3rem 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 0.3rem);
  box-sizing: border-box;
}
.calander .container-28 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-21 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-16 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-9 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-17 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.6rem;
  color: #000000;
}
.calander .day-10 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.calander .container-4 {
  margin: 0 0.2rem;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 1.3rem;
  width: fit-content;
  box-sizing: border-box;
}
.calander {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
