.challenges .rectangle-491 {
  border-radius: 0.1rem;
  position: absolute;
  top: 47.9rem;
  right: 24.4rem;
  width: 1.9rem;
  height: 0.8rem;
}
.challenges .image-17 {
  background: url('assets/images/Image17.png') 50% / cover no-repeat;
  position: absolute;
  left: 29.1rem;
  top: 71rem;
  width: 24.4rem;
  height: 23.9rem;
}
.challenges .rectangle-2273 {
  background: var(--color-3, #ABDCD8);
  position: absolute;
  left: 50%;
  bottom: 0rem;
  translate: -50% 0;
  width: 5.7rem;
  height: 1rem;
}
.challenges .cyber-security {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 0.8rem;
  color: #011728;
}
.challenges .group-10000010071 {
  position: absolute;
  top: 79.9rem;
  right: 15.9rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0.4rem 0.1rem 0.5rem;
  box-sizing: border-box;
}
.challenges .line-181 {
  background: #ABDCD8;
  position: relative;
  margin-right: 2.5rem;
  width: 0.1rem;
  height: 177.7rem;
}
.challenges .image-18 {
  background: url('assets/images/Image18.png') 50% / cover no-repeat;
  margin: 14.4rem 1.1rem 155rem 0;
  width: 21.8rem;
  height: 8.3rem;
}
.challenges .h-1-nasa-space-apps-challengeh-1 {
  margin: 0 2.9rem 3.4rem 2.9rem;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  color: #FFFFFF;
}
.h-1-nasa-space-apps-challengeh-1-sub1 {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.333;
  color: var(--color-2, #39BAAA);
}
.h-1-nasa-space-apps-challengeh-1 {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.333;
  color: var(--color-2, #39BAAA);
}
.challenges .line-16 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  transform: rotate(89.803deg);
  margin: 0 1.6rem;
  align-self: flex-start;
  width: 0.1rem;
  height: 0rem;
}
.challenges .line-20 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  transform: rotate(89.803deg);
  margin: 0 1.6rem 1rem 1.6rem;
  align-self: flex-start;
  width: 0.1rem;
  height: 0rem;
}
.challenges .line-15 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  transform: rotate(89.789deg);
  margin: 0 1.6rem;
  align-self: flex-start;
  width: 0.1rem;
  height: 0rem;
}
.challenges .line-19 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  transform: rotate(89.789deg);
  margin: 0 1.6rem 0.9rem 1.6rem;
  align-self: flex-start;
  width: 0.1rem;
  height: 0rem;
}
.challenges .p-in-thisworlds-biggest-hackathon-which-is-hosted-in-181-countries-180-thousand-participants-from-different-fields-of-expertise-will-be-participating-and-will-choose-between-23-challenges-made-exclusively-by-nasa-providing-you-with-real-life-datap {
  margin: 0 2.4rem 6.7rem 0.3rem;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
}
.p-in-thisworlds-biggest-hackathon-which-is-hosted-in-181-countries-180-thousand-participants-from-different-fields-of-expertise-will-be-participating-and-will-choose-between-23-challenges-made-exclusively-by-nasa-providing-you-with-real-life-datap-sub1 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
  color: #39BAAA;
}
.p-in-thisworlds-biggest-hackathon-which-is-hosted-in-181-countries-180-thousand-participants-from-different-fields-of-expertise-will-be-participating-and-will-choose-between-23-challenges-made-exclusively-by-nasa-providing-you-with-real-life-datap {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
  color: #39BAAA;
}
.challenges .rectangle-20 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  background: #ABDCD8;
  margin: 0 0.3rem 35.3rem 0;
  width: 35.3rem;
  height: 0.3rem;
}
.challenges .rectangle-21 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  background: #ABDCD8;
  margin-left: 0.3rem;
  width: 35.3rem;
  height: 0.3rem;
}
.challenges .container-9 {
  margin: 0.3rem 0.6rem 23.7rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.challenges .line-17 {
  background: #ABDCD8;
  position: relative;
  margin: 0 1.7rem 63.6rem 0;
  width: 0.1rem;
  height: 16.2rem;
}
.challenges .organized-by-micro-club-apr-25-apr-27 {
  position: relative;
  margin-bottom: 0.4rem;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  color: #FFFFFF;
}
.organized-by-micro-club-apr-25-apr-27-sub19 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
  color: #38D9BA;
}
.organized-by-micro-club-apr-25-apr-27-sub18 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
}
.organized-by-micro-club-apr-25-apr-27 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
  color: #38D9BA;
}
.challenges .join-as {
  margin-bottom: 2.1rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  color: #FFFFFF;
}
.challenges .rectangle-3 {
  border-radius: 0.6rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  height: 100%;
}
.challenges .solo {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2rem;
  color: #FFFFFF;
}
.challenges .group-1000001003 {
  border-radius: 0.6rem;
  position: relative;
  margin-right: 3.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.6rem 0 0.5rem 0rem;
  width: 7.4rem;
  box-sizing: border-box;
}
.challenges .rectangle-31 {
  border-radius: 0.6rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  height: 100%;
}
.challenges .team {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2rem;
  color: #FFFFFF;
}
.challenges .group-1000001019 {
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.6rem 1.1rem 0.5rem 1.2rem;
  box-sizing: border-box;
}
.challenges .container-16 {
  margin: 0 0.4rem 63.9rem 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.challenges .rectangle-49 {
  border-radius: 0.1rem;
  margin-right: 9.3rem;
  align-self: center;
  width: 2rem;
  height: 0.8rem;
}
.challenges .rectangle-227 {
  background: var(--color-3, #ABDCD8);
  position: absolute;
  left: 50%;
  bottom: 0rem;
  translate: -50% 0;
  width: 2.7rem;
  height: 1rem;
}
.challenges .web {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 0.8rem;
  color: #011728;
}
.challenges .group-1000001007 {
  position: absolute;
  left: 2.9rem;
  top: 5.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0.9rem 0.1rem 0.2rem;
  box-sizing: border-box;
}
.challenges .rectangle-2272 {
  background: var(--color-3, #ABDCD8);
  position: absolute;
  left: 50%;
  bottom: 0rem;
  translate: -50% 0;
  width: 3.8rem;
  height: 1rem;
}
.challenges .mobile {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 0.8rem;
  color: #011728;
}
.challenges .group-1000001009 {
  position: absolute;
  top: 5.1rem;
  right: 6.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.1rem 0.1rem 0.3rem;
  box-sizing: border-box;
}
.challenges .rectangle-2271 {
  background: var(--color-3, #ABDCD8);
  position: absolute;
  left: 50%;
  bottom: 0rem;
  translate: -50% 0;
  width: 1.3rem;
  height: 1rem;
}
.challenges .ai {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 0.8rem;
  color: #011728;
}
.challenges .group-1000001008 {
  position: absolute;
  left: 6.1rem;
  top: 5.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0.4rem 0.1rem 0.1rem;
  box-sizing: border-box;
}
.challenges .group-1000001010 {
  position: relative;
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.challenges .line-21 {
  background: #ABDCD8;
  position: absolute;
  top: 0rem;
  right: 20rem;
  width: 0.1rem;
  height: 16.2rem;
}
.challenges .container-15 {
  position: relative;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.challenges .container-4 {
  margin: 4.4rem 0 86.2rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.challenges .line-22 {
  background: #ABDCD8;
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  width: 0.1rem;
  height: 177.7rem;
}
.challenges .group-1000001012 {
  position: absolute;
  right: 9.2rem;
  bottom: -35.8rem;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.challenges .code-quest-arena {
  margin: 0.5rem 1.6rem 0.5rem 0;
  width: 30rem;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2.8rem;
  color: var(--color-2, #39BAAA);
}
.code-quest-arena-sub3 {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.333;
  background: linear-gradient(#ABDCD8, #ABDCD8), linear-gradient(#39BAAA, #39BAAA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.code-quest-arena {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2.8rem;
  line-height: 1.333;
  background: linear-gradient(#ABDCD8, #ABDCD8), linear-gradient(#39BAAA, #39BAAA);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.challenges .home {
  margin-right: 1.3rem;
  width: 8.3rem;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2.2rem;
  color: #FFFFFF;
}
.challenges .about-us {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2.2rem;
  color: #FFFFFF;
}
.challenges .events {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2.2rem;
  color: #FFFFFF;
}
.challenges .challenges-2 {
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2.2rem;
  color: #FFFFFF;
}
.challenges .container-6 {
  margin: 0.9rem 0 0.8rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 43.4rem;
  height: fit-content;
  box-sizing: border-box;
}
.challenges .arena {
  margin: 0.9rem 0 0.8rem 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2.2rem;
  color: #FFFFFF;
}
.challenges .vector-1 {
  width: 2.6rem;
  height: 2.6rem;
}
.challenges .container-11 {
  border-radius: 2.1rem;
  background: #39BAAA;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.9rem 0.8rem 0.8rem 0.9rem;
  width: 4.3rem;
  height: 4.3rem;
  box-sizing: border-box;
}
.challenges .container-13 {
  position: relative;
  margin: 0 0 2rem 1.9rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 113.8rem;
  box-sizing: border-box;
}
.challenges .rectangle-16 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  border: 0.1rem solid #000000;
  background: #ABDCD8;
  width: 113.9rem;
  height: 0.3rem;
}
.challenges .container-12 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  border: 0.1rem solid #000000;
  background: #ABDCD8;
  position: relative;
  margin: 0 0 3.8rem 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 113.9rem;
  height: 0.3rem;
  box-sizing: border-box;
}
.challenges .rectangle-17 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  border: 0.1rem solid #000000;
  background: #ABDCD8;
  margin: 2rem 1.1rem 1.8rem 0;
  width: 47.4rem;
  height: 0.3rem;
}
.challenges .challenges-1 {
  margin-right: 0.8rem;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 3.5rem;
  color: #FFFFFF;
}
.challenges .rectangle-18 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.3rem;
  margin: 2.2rem 0 1.7rem 0;
  width: 47.8rem;
  height: 0.3rem;
}
.challenges .container {
  position: relative;
  margin: 0 0 4.9rem 1.8rem;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.challenges .rectangle-208 {
  mix-blend-mode: darken;
  background: #D9D9D9;
  position: absolute;
  left: 50%;
  top: 0rem;
  translate: -50% 0;
  width: 0.8rem;
  height: 0.8rem;
}
.challenges .vector {
  position: relative;
  width: 0.7rem;
  height: 0.7rem;
}
.challenges .search {
  position: relative;
  margin: 0.6rem 0.3rem 0.6rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.1rem;
  width: 0.8rem;
  height: 0.8rem;
  box-sizing: border-box;
}
.challenges .search-for-challenges {
  overflow-wrap: break-word;
  font-family: 'JetBrains Mono';
  font-weight: 400;
  font-size: 1.5rem;
  color: #D2D2D2;
}
.challenges .group-174 {
  border-radius: 0.5rem;
  border: 0.1rem solid #ABDCD8;
  position: relative;
  margin-bottom: 2.2rem;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  padding: 0.7rem 0 0.7rem 2.9rem;
  width: 79.8rem;
  box-sizing: border-box;
}
.h-1-filtersh-1-sub28 {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.333;
  color: #FFFFFF;
}
.h-1-filtersh-1 {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.333;
  color: var(--color-2, #39BAAA);
}
.challenges .h-1-filtersh-1 {
  position: relative;
  margin: 0 2.3rem 4.1rem 2.3rem;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #39BAAA;
}
.h-1-filtersh-1-sub49 {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.333;
  color: var(--color-2, #39BAAA);
}
.challenges .by-location-online-in-person {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
}
.by-location-online-in-person-sub41 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.333;
  color: var(--color-3, #ABDCD8);
}
.by-location-online-in-person {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.333;
  color: #FFFFFF;
}
.challenges .by-location-online-in-person-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
}
.by-location-online-in-person-1-sub41 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.333;
  color: var(--color-3, #ABDCD8);
}
.by-location-online-in-person-1 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.333;
  color: #FFFFFF;
}
.challenges .rectangle-244 {
  border: 0.1rem solid #FFFFFF;
  position: absolute;
  left: 2.5rem;
  top: 4.5rem;
  width: 1rem;
  height: 1rem;
}
.challenges .rectangle-246 {
  border: 0.1rem solid #FFFFFF;
  position: absolute;
  left: 2.5rem;
  bottom: 3.3rem;
  width: 1rem;
  height: 1rem;
}
.challenges .container-1 {
  border: 0.1rem solid #39BAAA;
  position: absolute;
  left: 50%;
  bottom: 0rem;
  translate: -50% 0;
  padding: 1.8rem 1.9rem 2.9rem 1.9rem;
  width: 25.1rem;
  box-sizing: border-box;
}
.challenges .group-1000001015 {
  border: 0.1rem solid #39BAAA;
  position: relative;
  margin: 0 0.4rem 3.3rem 0.4rem;
  align-self: flex-start;
  padding: 1.8rem 1.9rem 2.9rem 1.9rem;
  width: fit-content;
  box-sizing: border-box;
}
.challenges .by-length {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-3, #ABDCD8);
}
.challenges .less-than-aweek-more-than-aweek {
  position: absolute;
  left: 1.9rem;
  top: 1.8rem;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
}
.less-than-aweek-more-than-aweek-sub41 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.333;
  color: var(--color-3, #ABDCD8);
}
.less-than-aweek-more-than-aweek {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.333;
  color: #FFFFFF;
}
.challenges .rectangle-2441 {
  border: 0.1rem solid #FFFFFF;
  position: absolute;
  left: 2.5rem;
  top: 4.5rem;
  width: 1rem;
  height: 1rem;
}
.challenges .rectangle-2461 {
  border: 0.1rem solid #FFFFFF;
  position: absolute;
  left: 2.5rem;
  bottom: 3.3rem;
  width: 1rem;
  height: 1rem;
}
.challenges .group-1000001017 {
  border: 0.1rem solid #39BAAA;
  position: relative;
  margin-bottom: 3.3rem;
  align-self: flex-start;
  padding: 1.8rem 1.9rem 7rem 1.9rem;
  width: fit-content;
  box-sizing: border-box;
}
.challenges .by-interest {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--color-3, #ABDCD8);
}
.web-mobile-ai-cyber-security-game-dev-3-dmodeling {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.333;
  color: #FFFFFF;
}
.challenges .web-mobile-ai-cyber-security-game-dev-3-dmodeling {
  position: absolute;
  left: 2.3rem;
  top: 1.9rem;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #FFFFFF;
}
.web-mobile-ai-cyber-security-game-dev-3-dmodeling-sub41 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.333;
  color: var(--color-3, #ABDCD8);
}
.challenges .rectangle-2442 {
  border: 0.1rem solid #FFFFFF;
  position: absolute;
  left: 2.5rem;
  top: 4.5rem;
  width: 1rem;
  height: 1rem;
}
.challenges .rectangle-2462 {
  border: 0.1rem solid #FFFFFF;
  position: absolute;
  left: 2.5rem;
  top: 6.6rem;
  width: 1rem;
  height: 1rem;
}
.challenges .rectangle-247 {
  border: 0.1rem solid #FFFFFF;
  position: absolute;
  left: 2.5rem;
  top: 50%;
  translate: 0 -50%;
  width: 1rem;
  height: 1rem;
}
.challenges .rectangle-248 {
  border: 0.1rem solid #FFFFFF;
  position: absolute;
  left: 2.5rem;
  bottom: 6.9rem;
  width: 1rem;
  height: 1rem;
}
.challenges .rectangle-249 {
  border: 0.1rem solid #FFFFFF;
  position: absolute;
  left: 2.5rem;
  bottom: 4.8rem;
  width: 1rem;
  height: 1rem;
}
.challenges .rectangle-250 {
  border: 0.1rem solid #FFFFFF;
  position: absolute;
  left: 2.5rem;
  bottom: 2.8rem;
  width: 1rem;
  height: 1rem;
}
.challenges .group-1000001018 {
  border: 0.1rem solid #39BAAA;
  position: relative;
  margin: 0 20.2rem 57.6rem 0;
  padding: 1.8rem 1.9rem 0 1.9rem;
  width: 25.1rem;
  height: 18.6rem;
  box-sizing: border-box;
}
.challenges .h-1-micro-club-capture-the-flag-4-h-1 {
  margin: 0 4.5rem 3.8rem 4.5rem;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  color: #FFFFFF;
}
.h-1-micro-club-capture-the-flag-4-h-1-sub1 {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.333;
  color: var(--color-2, #39BAAA);
}
.h-1-micro-club-capture-the-flag-4-h-1 {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.333;
  color: var(--color-2, #39BAAA);
}
.challenges .rectangle-492 {
  border-radius: 0.1rem;
  margin: 0 0 1.8rem 31.4rem;
  align-self: center;
  width: 1.9rem;
  height: 0.8rem;
}
.challenges .join-as-1 {
  margin: 0 0 1.3rem 33.5rem;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  color: #FFFFFF;
}
.challenges .rectangle-32 {
  border-radius: 0.6rem;
  position: absolute;
  left: 50%;
  top: 0rem;
  translate: -50% 0;
  width: 7.1rem;
  height: 3.5rem;
}
.challenges .solo-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2rem;
  color: #FFFFFF;
}
.challenges .group-1000001020 {
  border-radius: 0.6rem;
  position: relative;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.6rem 0 0.5rem 0rem;
  width: 7.1rem;
  box-sizing: border-box;
}
.challenges .rectangle-33 {
  border-radius: 0.6rem;
  position: absolute;
  left: 50%;
  top: 0rem;
  translate: -50% 0;
  width: 7.1rem;
  height: 3.5rem;
}
.challenges .team-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2rem;
  color: #FFFFFF;
}
.challenges .group-1000001021 {
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.6rem 1rem 0.5rem 1rem;
  box-sizing: border-box;
}
.challenges .container-7 {
  margin: 0 3.4rem 15.9rem 3.4rem;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.challenges .h-1-algeria-game-challengeh-1 {
  margin: 0 0 1.1rem 18.1rem;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  color: var(--color-2, #39BAAA);
}
.h-1-algeria-game-challengeh-1-sub2 {
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.333;
  color: var(--color-1, #FFFFFF);
}
.challenges .web-1 {
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 0.8rem;
  color: #011728;
}
.challenges .group-10000010072 {
  margin-bottom: 1.1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  box-sizing: border-box;
}
.challenges .line-161 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  transform: rotate(89.803deg);
  margin: 0 5.8rem 1.3rem 5.8rem;
  align-self: flex-start;
  width: 0.1rem;
  height: 0rem;
}
.challenges .line-151 {
  box-shadow: 0rem 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.25);
  transform: rotate(89.789deg);
  margin: 0 5.8rem 0.9rem 5.8rem;
  align-self: flex-start;
  width: 0.1rem;
  height: 0rem;
}
.p-agc-is-an-annual-event-that-aims-to-bring-together-game-developers-through-agame-development-competition-and-series-of-activities-such-as-workshops-conferences-and-trainings-this-event-originally-named-the-xna-game-challenge-was-created-in-2011-under-the-partnership-of-microsoft-referring-to-their-xna-game-engine-later-the-event-was-renamed-algeria-game-challenge-in-its-3-rd-edition-in-2013-the-competition-has-been-held-every-year-for-atotal-of-9-successful-editionsp-sub1 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
  color: #39BAAA;
}
.p-agc-is-an-annual-event-that-aims-to-bring-together-game-developers-through-agame-development-competition-and-series-of-activities-such-as-workshops-conferences-and-trainings-this-event-originally-named-the-xna-game-challenge-was-created-in-2011-under-the-partnership-of-microsoft-referring-to-their-xna-game-engine-later-the-event-was-renamed-algeria-game-challenge-in-its-3-rd-edition-in-2013-the-competition-has-been-held-every-year-for-atotal-of-9-successful-editionsp {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
  color: #39BAAA;
}
.challenges .p-agc-is-an-annual-event-that-aims-to-bring-together-game-developers-through-agame-development-competition-and-series-of-activities-such-as-workshops-conferences-and-trainings-this-event-originally-named-the-xna-game-challenge-was-created-in-2011-under-the-partnership-of-microsoft-referring-to-their-xna-game-engine-later-the-event-was-renamed-algeria-game-challenge-in-its-3-rd-edition-in-2013-the-competition-has-been-held-every-year-for-atotal-of-9-successful-editionsp {
  margin-right: 10.9rem;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
}
.challenges .organized-by-micro-club-aug-05-sep-11 {
  margin-bottom: 0.1rem;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  color: #FFFFFF;
}
.organized-by-micro-club-aug-05-sep-11-sub19 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
  color: #38D9BA;
}
.organized-by-micro-club-aug-05-sep-11-sub18 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
}
.organized-by-micro-club-aug-05-sep-11 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
  color: #38D9BA;
}
.challenges .rectangle-2274 {
  background: var(--color-3, #ABDCD8);
  position: absolute;
  left: 50%;
  bottom: 0rem;
  translate: -50% 0;
  width: 4.3rem;
  height: 1rem;
}
.challenges .game-dev {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 0.8rem;
  color: #011728;
}
.challenges .group-10000010091 {
  position: relative;
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0.4rem 0.1rem 0.5rem;
  box-sizing: border-box;
}
.challenges .rectangle-2275 {
  background: var(--color-3, #ABDCD8);
  position: absolute;
  left: 50%;
  bottom: 0rem;
  translate: -50% 0;
  width: 4.8rem;
  height: 1rem;
}
.challenges .dmodeling {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 0.8rem;
  color: #011728;
}
.challenges .group-10000010101 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0.3rem 0.1rem 0.1rem;
  box-sizing: border-box;
}
.challenges .container-3 {
  margin: 0 2.4rem 0.6rem 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.challenges .join-as-2 {
  margin-bottom: 1.3rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  color: #FFFFFF;
}
.challenges .rectangle-34 {
  border-radius: 0.6rem;
  position: absolute;
  left: 50%;
  top: 0rem;
  translate: -50% 0;
  width: 7.1rem;
  height: 3.5rem;
}
.challenges .solo-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2rem;
  color: #FFFFFF;
}
.challenges .group-1000001022 {
  border-radius: 0.6rem;
  position: relative;
  margin-right: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.6rem 0 0.5rem 0rem;
  width: 7.1rem;
  box-sizing: border-box;
}
.challenges .rectangle-35 {
  border-radius: 0.6rem;
  position: absolute;
  left: 50%;
  top: 0rem;
  translate: -50% 0;
  width: 7.1rem;
  height: 3.5rem;
}
.challenges .team-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 2rem;
  color: #FFFFFF;
}
.challenges .group-1000001023 {
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.6rem 1rem 0.5rem 1rem;
  box-sizing: border-box;
}
.challenges .container-10 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.challenges .container-8 {
  margin: 0.9rem 0 9rem 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.challenges .container-2 {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.challenges .group-1000001013 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.p-micro-club-capture-the-flag-is-an-event-that-reflects-all-sides-of-cybersecurity-gathering-all-the-interested-people-in-one-competition-to-exchange-knowledge-and-experience-this-event-was-held-in-two-parts-the-qualifications-which-were-held-completely-online-where-participants-solved-challenges-to-gain-points-and-be-qualified-for-the-finale-and-the-finale-where-we-delivered-alot-of-cyber-security-contentp {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
  color: #39BAAA;
}
.challenges .p-micro-club-capture-the-flag-is-an-event-that-reflects-all-sides-of-cybersecurity-gathering-all-the-interested-people-in-one-competition-to-exchange-knowledge-and-experience-this-event-was-held-in-two-parts-the-qualifications-which-were-held-completely-online-where-participants-solved-challenges-to-gain-points-and-be-qualified-for-the-finale-and-the-finale-where-we-delivered-alot-of-cyber-security-contentp {
  position: absolute;
  left: 7.9rem;
  top: 0rem;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.8);
}
.p-micro-club-capture-the-flag-is-an-event-that-reflects-all-sides-of-cybersecurity-gathering-all-the-interested-people-in-one-competition-to-exchange-knowledge-and-experience-this-event-was-held-in-two-parts-the-qualifications-which-were-held-completely-online-where-participants-solved-challenges-to-gain-points-and-be-qualified-for-the-finale-and-the-finale-where-we-delivered-alot-of-cyber-security-contentp-sub1 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
  color: #39BAAA;
}
.challenges .line-18 {
  background: #ABDCD8;
  position: absolute;
  top: 1.9rem;
  right: 23.8rem;
  width: 0.1rem;
  height: 16.2rem;
}
.challenges .organized-by-micro-club-jun-20-jun-25 {
  position: absolute;
  top: 0.3rem;
  right: 1.2rem;
  overflow-wrap: break-word;
  font-family: 'IBM Plex Sans';
  font-weight: 600;
  font-size: 2.2rem;
  color: #FFFFFF;
}
.organized-by-micro-club-jun-20-jun-25-sub19 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
  color: #38D9BA;
}
.organized-by-micro-club-jun-20-jun-25-sub18 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
}
.organized-by-micro-club-jun-20-jun-25 {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.333;
  color: #38D9BA;
}
.challenges .container-5 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5.8rem;
  box-sizing: border-box;
}
.challenges .container-14 {
  margin-top: 5.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.challenges .image-19 {
  background: url('assets/images/Image19.png') 50% / cover no-repeat;
  position: absolute;
  left: 30.2rem;
  bottom: 8.7rem;
  width: 17.3rem;
  height: 7.7rem;
}
.challenges .container-17 {
  position: relative;
  margin-right: 2.8rem;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.challenges {
  background: #011728;
  display: flex;
  flex-direction: column;
  padding: 1.9rem 2.6rem 33.9rem 1.7rem;
  width: 120rem;
  box-sizing: border-box;
}
